.layout {
  position:relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100dvh;
  background: #f5f4f4; 
}


@media screen and (min-width: 768px) {
  .layout {
    flex-direction: column;
    grid-template-columns: 2fr;
  }
  
}